.logo-title{
    font-size:20px;
    color:#fff;
    font-weight: bold;
}

.navbar-collapse{
    align-items: center;
    justify-content: center;
}

.img-circle{
    width:200px;
    border-radius:100%;
    object-fit: cover;
}

.services-img{
    width:85px
}

.work-div{
    width: 336px;
    height: 272px;
   
}

.work-img{
    width:120px;
    object-fit: cover;
}

.work2-img{
    width:110px;
    object-fit: cover;
}


.desc{
    font-size: 19px;
    margin-top:20px;
    color: #000
}

.no-underline{
    text-decoration: none;
}

.thumb{
    padding:20px
}